<div class="container-fluid mt-5">
    <div class="content-background">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="mb-4 login-title text-center">{{'Register.title' | translate}}</h2>
          <div class="phone">
            <input autocomplete="off" class="form-control" type="text" placeholder="{{'Register.Email-PhoneNumber' | translate}}">
          </div>
          <div class="password position-relative mt-3">
            <input autocomplete="off" class="form-control" type="password" placeholder="{{'Register.New-Password' | translate}}">
            <a href="#" class="position-absolute visibility-icon"><img width="15px" height="15px" src="assets/icons/visibility.svg" alt=""></a>
          </div>
          <div class="password position-relative mt-3">
              <input autocomplete="off" class="form-control" type="password" placeholder="{{'Register.Confirm-Password' | translate}}">
              <a href="#" class="position-absolute visibility-icon"><img width="15px" height="15px" src="assets/icons/visibility.svg" alt=""></a>
            </div>
          <div class="terms-condition mt-2 text-capitalize mb-2">
              <input type="checkbox" name="" id="terms">
              <label class="ml-2 font-14px" for="terms">{{'Register.Creating-account' | translate}}<a class="ml-1" href="#">{{'Register.terms-condition' | translate}}</a></label>
          </div>
          <div class="SignIn mb-2">
            <button type="button" class="btn btn-primary w-100">{{'Register.SignIn' | translate}}</button>
          </div>
          <div class="content-border">
            <div class="register text-center">
              <span class="line-before"></span>
              <span class="text-capitalize">{{'login.login-with' | translate}}</span>
              <span class="line-after"></span>
            </div>
            <div class="social-links text-center mt-1">
              <a href="#"><img width="30px" height="30px" src="assets/icons/facebook.svg" alt="{{'Register.facebook' | translate}}"></a>
              <a href="#" class="ml-3 mr-3"><img width="30px" height="30px" src="assets/icons/instagram.svg" alt="{{'Register.instagram' | translate}}"></a>
              <a href="#"><img width="30px" height="30px" src="assets/icons/google-plus.svg" alt="{{'Register.google-plus' | translate}}"></a>
            </div>
          </div>
          <div class="register mt-3 text-center">
            <span class="text-capitalize" style="color:#000">{{'Register.have-account' | translate}} <a href="#">{{'Register.logIn' | translate}}</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="background-color"></div>