.menu-wrapper {
  .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    .active-icon {
      height: 40px;
      border-radius: 50%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .fas {
        color: #444;
        font-size: 22px;
      }
    }
    .active-title {
      color: #838383;
    }
  }

  .menu-item.active {
    .fas {
      color: #fff !important;
    }
    .active-icon {
      background-color: #5058a6;
    }
    .active-title {
      color: #5058a6;
    }
  }
}
