<div class="card-wrapper">
    <div class="imgs mt-4 position-relative">
        <div class="img-block d-flex">
            <div class="left">
                <img width="95%" src="assets/images/sea.jpeg" alt="">
            </div>
            <div class="right">
                <img width="95%" src="assets/images/sea.jpeg" alt="">
            </div>
        </div>
        <div class="img-block-3 mt-2 d-flex">
            <div class="left">
                <img width="93%" src="assets/images/sea.jpeg" alt="">
            </div>
            <div class="center">
                <img width="93%" src="assets/images/sea.jpeg" alt="">
            </div>
            <div class="right">
                <div class="counter d-flex justify-content-center align-items-center position-relative">
                    <span class="count">8+</span>
                </div>
            </div>
        </div>
        <div class="button position-absolute">
            <button class="btn btn-primary images mr-2">images</button>
            <button class="btn btn-primary video">video</button>
        </div>
    </div>
    <div class="card-details mt-2">
        <div class="unit-name">
            <span class="title text-capitalize">rental unit name</span>
            <span class="location ml-2">Alahmadi,khiran</span>
        </div>
        <div class="unit-descrption">
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been
                the industry's standard dummy text ever since the 1500s when an unknown printer took a galley</p>
        </div>
        <div class="unit-location">
            <p class="mb-0">430.36 KD/week Day</p>
            <p class="mb-0">430.36 KD/week Day</p>
        </div>
        <div class="more d-flex justify-content-end">
            <button class="btn btn-primary text-capitalize more-rental-details p-0">more...</button>
        </div>
    </div>
    <div class="card-details calendar mt-2">
        <div class="from">
            <span class="text-capitalize">from</span>
        </div>
        <div class="to">
            <span class="text-capitalize">to</span>
        </div>
    </div>
    <div class="card-details utilies mt-2">
        <div class="title">
            <span class="text-capitalize">utilies</span>
        </div>
        <div class="content">
            <div class="d-flex justify-content-around">
                <div class="light text-center">
                    <div class="img">
                        <img width="25px" height="22px" src="assets/images/light.PNG" alt="">
                    </div>
                    <div class="title">
                        <span>light</span>
                    </div>
                </div>
                <div class="water text-center">
                    <div class="img">
                        <img width="25px" height="22px" src="assets/images/water.PNG" alt="">
                    </div>
                    <div class="title">
                        <span>water</span>
                    </div>
                </div>
                <div class="parking text-center">
                    <div class="img">
                        <img width="25px" height="22px" src="assets/images/Parking.PNG" alt="">
                    </div>
                    <div class="title">
                        <span>parking</span>
                    </div>
                </div>
                <div class="internet text-center">
                    <div class="img">
                        <img width="25px" height="22px" src="assets/images/internet.PNG" alt="">
                    </div>
                    <div class="title">
                        <span>internet</span>
                    </div>
                </div>
            </div>
            <div class="see-more text-center mt-2">
                <button class="btn btn-primary text-capitalize">see more</button>
            </div>
        </div>
    </div>
    <div class="card-details card-details-bottom next mt-2 d-flex justify-content-around">
        <button class="btn chat-btn btn-primary">
            <img width="22px" height="20px" src="assets/images/chat.PNG" alt="">
            <span>chat</span>
        </button>
        <button class="btn btn-primary next-btn">next</button>
        <button class="btn call-btn btn-primary">
            <img width="22px" height="20px" src="assets/images/call.PNG" alt="">
            <span>call</span>
        </button>
    </div>
</div>