.form-control,
.btn-primary {
  border-radius: 30px;
  box-shadow: unset !important;
}

.login-register-bg-color{
  background-color: #5058a6 !important;
  min-height: 100%;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}