.card-wrapper {
  // box-shadow: -2px 5px 4px #eee;

  .card-button {
    // should be active class
    .images {
      background-color: #5058a6 !important;
      color: #fff !important;
      border-radius: 20px;
      text-transform: capitalize;
      font-family: "Roboto", "sans-seirf";
      font-size: 12px;
    }
    .video {
      background-color: #fff !important;
      color: #000 !important;
      border-radius: 20px;
      text-transform: capitalize;
      font-family: "Roboto", "sans-seirf";
      font-size: 12px;
      box-shadow: 0px 2px 9px #e2e2e2 !important;
      -moz-box-shadow: 0px 2px 9px #e2e2e2 !important;
      -o-box-shadow: 0px 2px 9px #e2e2e2 !important;
      -webkit-box-shadow: 0px 2px 9px #e2e2e2 !important;
    }
  }

  .rentals-images {
    .img-block {
      .left,
      .right {
        flex: 1;
      }
    }
    .img-block-3 {
      .left,
      .center,
      .right {
        flex: 1;
      }
      .right {
        .counter {
          width: 100%;
          height: 141px;
          background-color: #000;
          .count {
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }
  }
  .from,
  .to {
    font-family: "Roboto", "sans-seirf";
    font-size:14px;
    .calendar-date{
      font-size: 12px;
      font-weight: 500;
      margin-#{$left}:6px
    }
  }
  .card-details {
    background-color: #ffffff !important;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 3px 0px 10px #eee;
    .title {
      font-size: 14px;
      font-family: "Roboto", "sans-seirf";
      font-weight: 500;
      span {
        font-family: "Roboto", "sans-seirf";
      }
    }
    .unit-name {
      display: flex;
      justify-content: space-between;
      .location {
        color: #909090;
        font-size: 12px;
        font-family: "Roboto", "sans-seirf";
      }
    }
    .unit-descrption {
      p {
        line-height: 23px;
        font-size: 13px;
        color: #999;
        width: 97%;
        font-family: "Roboto", "sans-seirf";
      }
    }
    .unit-location {
      p {
        font-size: 13px;
        color: #5058a6;
        font-family: "Roboto", "sans-seirf";
      }
    }
    .more {
      .more-rental-details {
        font-size: 13px;
        color: #5058a6;
        font-family: "Roboto", "sans-seirf";
      }
    }
    .content {
      span {
        font-size: 14px;
        text-transform: capitalize;
      }
      .see-more {
        button {
          color: #5058a6 !important;
          border-radius: 50px;
          padding: 0 22px !important;
        }
        img {
          margin-#{$left}: 6px;
        }
      }
    }
    .next-btn {
      background-color: #5058a6 !important;
      border-radius: 50px;
      padding: 6px 22px !important;
      text-transform: capitalize;
      width: 102px;
      font-family: "Roboto", "sans-seirf";
    }
    .chat-btn,
    .call-btn {
      color: #000;
      background-color: #fff !important;
      border-radius: 20px;
      font-family: "Roboto", "sans-seirf";
      span {
        text-transform: capitalize;
        margin-left: 4px;
      }
    }
  }
  .card-details-bottom {
    background: #f2f2f2 !important;
    border-radius: 0 !important;
  }
}
