.container-fluid {
  .content-background{
    background-color: #fff;
    padding: 25px 0;
    width: 60%;
    margin: auto; 
    border-radius: 10px;
    .row {
      .col-md-7 {
        .login-title{
          color: #5058a6;
        }
        .content-border {
        .phone,
        .password {
          position: relative;
            input{
                border-radius: 30px;
                border: 0;
                background-color: #eee;
                box-shadow: unset !important;
            }
            
        .visibility-icon{
          top: 5px;
          #{$left}: 12px;
        }
        }
        .SignIn {
          button {
            border-radius: 30px;
          }
      }
      .SignIn {
        button {
          border-radius: 30px;
        }
      }
    }
  }
}
}
.background-color{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5058a6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.required{
  font-size: 13px;
  color: red;
}


            
.visibility-icon{
  top: 5px;
  #{$right}: 12px;
}

.font-14px{
  font-size:14px;
}


.register{
  span{
    color: #000;
}
}
.line-before{
  width: 35px;
  height: 3px;
  border-bottom: 1px solid #aaa;
  transform: rotate(1deg);
  display: inline-block;
  position: relative;
  top: -5px;
  #{$left}: -7px;
}
.line-after{
  width: 35px;
  height: 3px;
  border-bottom: 1px solid #aaa;
  transform: rotate(0deg);
  display: inline-block;
  position: relative;
  top: -5px;
  #{$right}: -7px;
}
}

*{
  font-family: 'Roboto', sans-serif;
}