.request-rental-header{ 
    background: #fff;
    padding: 4px;
    box-shadow: 0px 1px 8px #cccaca;
    -moz-box-shadow: 0px 1px 8px #cccaca;
    -o-box-shadow: 0px 1px 8px #cccaca;
    -webkit-box-shadow: 0px 1px 8px #cccaca;
    border-radius: 10px;
    button{
        position: relative;
        top: 0px;
    }
}