
<div class="container mci-ci">
  <div class="content-wrapper">
    <h2 class="content__title">{{'crinfo.CrInfoData' | translate}}</h2>

    <div class="title-border-bottm"></div>

    <ng-container *ngIf="isLoaded">
      <div class="commercial-data-section crinfo-data">
        <!-- <div class="spinner-border text-success" *ngIf="showSpinner === true" role="status">
          <span class="sr-only">Loading...</span>
        </div> -->
        <div class="comercial-main-data">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <ul class="comercial-data-section">
                <li>
                  <span class="comercial-data-section__title"> {{'crinfo.CrName' | translate}}:</span>
                  <span class="comercial-data-section__value"> {{ crInfoData?.crName }} </span>
                </li>

                <li>
                  <span class="comercial-data-section__title">{{'crinfo.CrNumber' | translate}}:</span>
                  <span class="comercial-data-section__value">{{
                    crInfoData?.crNumber
                  }}</span>
                </li>

                <li>
                  <span class="comercial-data-section__title">{{'crinfo.IsMain' | translate}}:</span>
                  <span class="comercial-data-section__value" *ngIf="crInfoData?.isMain === false">{{'crinfo.Branch' | translate}}</span>
                  <span class="comercial-data-section__value" *ngIf="crInfoData?.isMain === true" >{{'crinfo.Main' | translate}}</span>
                </li>

                <li *ngIf="crInfoData?.category !== 4">
                  <span class="comercial-data-section__title">{{'crinfo.Activities' | translate}}:</span>
                  <span class="comercial-data-section__value"
                    *ngIf="!crInfoData.activities?.length"><p>{{ crInfoData?.flatActivities }}</p></span>
                  <ul class="activities-list" *ngIf="crInfoData.activities?.length">
                    <li *ngFor="let activity of crInfoData.activities">
                      {{ activity.code }}<span class="px-2">|</span><p>{{ activity.description }}</p>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="comercial-data-section">
                <li>
                  <span class="comercial-data-section__title">{{'crinfo.CrBusType' | translate}}:
                  </span>
                  <span class="comercial-data-section__value">{{
                    crInfoData?.businessTypeName
                  }}</span>
                </li>

                <li>
                  <span class="comercial-data-section__title">{{'crinfo.CrStatus' | translate}}:</span>
                  <span class="comercial-data-section__value"
                    [ngClass]="getCrStatusClassBox(crInfoData?.category)">{{crInfoData?.crStatus}}</span>
                </li>

                <li *ngIf="crInfoData?.category !== 4">
                  <span class="comercial-data-section__title">{{'crinfo.ExpireDate' | translate}}:
                  </span>
                  <span class="comercial-data-section__value">{{
                    crInfoData?.expireDate | convertDateHijri
                  }}</span>
                </li>

                <li *ngIf="crInfoData?.category !== 4">
                  <span class="comercial-data-section__title">
                    {{'crinfo.NationalNumber' | translate}}:
                  </span>
                  <span class="comercial-data-section__value">{{ crInfoData?.nationalNumber
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="commercial-data-section" *ngIf="crInfoData?.category !== 4">
        <div class="electronic-location data-secondary-title">
          <h2>{{'crinfo.Ecommerce' | translate}}:</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <ul class="comercial-data-section">
              <li>
                <span class="comercial-data-section__title">{{'crinfo.WebSite' | translate}}:</span>
                <span class="comercial-data-section__value word-break">{{crInfoData?.primaryUrl}}</span>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-6">
            <ul class="comercial-data-section">
              <li>
                <span class="comercial-data-section__title">{{'crinfo.Maaroof' | translate}}:</span>
                <span class="comercial-data-section__value word-break">{{crInfoData?.maaroofUrl }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="commercial-data-section" *ngIf="crInfoData?.category !== 4">
        <div class="address data-secondary-title">
          <h2>{{'crinfo.Address' | translate}}:</h2>

        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <ul class="comercial-data-section">
              <li>
                <span class="comercial-data-section__title">{{'crinfo.Phone' | translate}}:</span>
                <span class="comercial-data-section__value">{{ crInfoData?.phone }}</span>
              </li>
              <li>
                <span class="comercial-data-section__title">{{'crinfo.Location' | translate}}:</span>
                <span class="comercial-data-section__value">{{ crInfoData?.crLocationName }}</span>
              </li>
            </ul>
          </div>
          <!-- <div class="col-xs-12 col-md-6">
            <ul class="comercial-data-section">
              <li>
                <span class="comercial-data-section__title">رقم الفاكس: </span>
                <span class="comercial-data-section__value">{{
                  crInfoData?.fax
                }}</span>
              </li>
            </ul>
          </div> -->
        </div>
      </div>

      <div class="commercial-data-section" *ngIf="crInfoData?.category !== 4 && crInfoData?.isCompany === false">
        <div class="managers data-secondary-title">
          <h2>{{'crinfo.Persons' | translate}} :</h2>
        </div>
        <div class="row">
          <ng-container *ngFor="let pserson of crInfoData?.persons">
            <div class="col-6">
              <ul class="comercial-data-section">
                <li>
                  <span class="comercial-data-section__title">{{'crinfo.PersonName' | translate}}:</span>
                  <span class="comercial-data-section__value">{{ pserson.name }}</span>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="comercial-data-section">
                <li>
                  <span class="comercial-data-section__title">{{'crinfo.Relation' | translate}}:</span>
                  <span class="comercial-data-section__value" *ngIf="pserson.isOwner === false">{{'crinfo.Manager' | translate}} </span>
                  <span class="comercial-data-section__value" *ngIf="pserson.isOwner === true" >{{'crinfo.Owner' | translate}} </span>
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="content-wrapper eltizam-data">

    <!-- <div class="spinner-border text-success" *ngIf="showSpinner === true" role="status">
      <span class="sr-only">Loading...</span>
    </div> -->

    <h2 class="content__title"> {{'eltizamInfo.EltizamInfo' | translate}}</h2>
    <div class="title-border-bottm"></div>
    <div *ngIf="isLoaded" class="form-data">
      <table class="table borderless">
        <thead>
          <tr>
            <th scope="col" class="text-left">{{'eltizamInfo.EltizamName' | translate}}</th>
            <th scope="col" class="text-left">{{'eltizamInfo.EltizamStatus' | translate}}</th>
          </tr>
        </thead>
        <tbody *ngIf="eltizamDataList.length > 0">
          <tr>
            <td class="title" scope="row">{{'eltizamInfo.EstablishmentStatistics' | translate }}</td>
            <td [ngClass]="getStatusClass(0)" class="status">{{getStatusMesssage(0) }}</td>
          </tr>
          <tr>
            <td class="title" scope="row">{{'eltizamInfo.EstablishmentStatisticsStatus' | translate }}</td>
            <td [ngClass]="getStatusClass(1)" class="status">{{getStatusMesssage(1) }}</td>
          </tr>
          <tr>
            <td class="title" scope="row">{{'eltizamInfo.ZakatCertificate' | translate }}</td>
            <td [ngClass]="getStatusClass(3)" class="status">{{getStatusMesssage(3) }}</td>
          </tr>
          <tr>
            <td class="title" scope="row">{{'eltizamInfo.Chambers' | translate }}</td>
            <td [ngClass]="getStatusClass(2)" class="status">{{getStatusMesssage(2) }}</td>
          </tr>

          <!--<tr>
    <td class="title" scope="row">{{'eltizamInfo.Chambers' | translate }}</td>
    <td [ngClass]="getStatusClass(2)" class="status">{{getStatusMesssage(2) }}</td>
  </tr>
  <tr>
    <td class="title" scope="row">{{'eltizamInfo.ZakatCertificate' | translate }}</td>
    <td [ngClass]="getStatusClass(3)" class="status">{{getStatusMesssage(3) }}</td>
  </tr>-->
          <tr>
            <td class="title" scope="row">{{'eltizamInfo.MOMRAShopLicenses' | translate }}</td>
            <td [ngClass]="getStatusClass(4)" class="status">{{getStatusMesssage(4) }}</td>
          </tr>
          <!--<tr *ngFor="let info of eltizamDataList; let i = index" >
    <td class="title" scope="row">{{ serviceValue(i) }}</td>
    <td [ngClass]="getStatusClass(i)" class="status">{{getStatusMesssage(i) }}</td>
  </tr>-->
        </tbody>
        </table>
      </div>
    </div>
  </div>
