<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="mb-3">Login</h2>
      <div class="phone">
        <input class="form-control" type="text" placeholder="E-mail or phone number">
      </div>
      <div class="password mt-3">
        <input class="form-control" type="password" placeholder="Password">
      </div>
      <div class="forget-password mt-2 text-capitalize mb-4">
        <a href="#">forget password</a>
      </div>
      <div class="SignIn">
        <button type="button" class="btn btn-primary w-100">Sign in</button>
      </div>
      <div class="or">
        or
      </div>
      <div class="social-links text-center">
        <a href="#" class="mr-2"><img width="30px" height="30px" src="assets/icons/facebook.svg" alt="facebook"></a>
        <a href="#" class="mr-2"><img width="30px" height="30px" src="assets/icons/instagram.svg" alt="instagram"></a>
        <a href="#" class="mr-2"><img width="30px" height="30px" src="assets/icons/google-plus.svg" alt="google-plus"></a>
      </div>
      <div class="register">
        <span class="text-capitalize">don't have account? <a href="#">register now</a></span>
      </div>
    </div>
  </div>
</div>