<div class="rental-requests">
  <div class="rental-requests-filters">
    <button class="btn btn-outline btn-secondary" (click)="selectedRequestType('pending')">Pending</button>
    <button class="btn btn-outline btn-primary" (click)="selectedRequestType('approved')">Approved</button>
    <button class="btn btn-outline btn-secondary" (click)="selectedRequestType('ongoing')">On Going</button>
    <button class="btn btn-outline btn-secondary" (click)="selectedRequestType('issues')">Issues</button>
    <button class="btn btn-outline btn-secondary" (click)="selectedRequestType('expired')">Expired</button>
    <button class="btn btn-outline btn-secondary" (click)="selectedRequestType('canceled')">Canceled</button>
  </div>
</div>
