.menu-wrapper {
  background-color: #fff;
}
button {
  background-color: unset !important;
  border: 0 !important;
  box-shadow: unset !important;
}
.active-title{
    color: #5058a6;
    font-size: 9px;
}
.active-icon{
    background-color: #5058a6;
    border-radius: 20px;
    padding: 2px 8px;
} 