<div class="menu-wrapper d-flex justify-content-around mt-4 p-1">
    <button class="active-btn">
        <button class="btn btn-primary p-0">
            <div class="active-icon">
                <img width="20px" height="20px" src="assets/icons/user.svg" alt="user">
            </div>
            <div class="active-title">
                <span class="text-capitalize">explore</span>
            </div>
        </button>
    </button>
    <button class="btn btn-primary p-0">
        <img width="20px" height="20px" src="assets/icons/user.svg" alt="user">
    </button>
    <button class="btn btn-primary p-0">
        <img width="20px" height="20px" src="assets/icons/conversation.svg" alt="user">
    </button>
    <button class="btn btn-primary p-0">
        <img width="20px" height="20px" src="assets/icons/user.svg" alt="user">
    </button>
</div>