<div class="menu-wrapper d-flex justify-content-around mt-4">
  <div class="menu-item" (click)="navigateToHome()" [ngClass]="{'active':currentComponent == 'explore'}">
    <div class="active-icon">
      <i class="fas fa-home"></i>
    </div>
    <div class="active-title">
      <span class="text-capitalize">{{ 'Menu.Explore' | translate}}</span>
    </div>
  </div>

  <div class="menu-item" *ngIf="isUser" (click)="navigateRequests()" [ngClass]="{'active':currentComponent == 'request'}">
    <div class="active-icon">
      <i class="fas fa-clock"></i>
    </div>
    <div class="active-title">
      <span class="text-capitalize">{{ 'Menu.Request' | translate}}</span>
    </div>
  </div>

  <div class="menu-item">
    <div class="active-icon">
      <i class="fas fa-comment-dots"></i>
    </div>
    <div class="active-title">
      <span class="text-capitalize">{{ 'Menu.Chat' | translate}}</span>
    </div>
  </div>

  <div class="menu-item" *ngIf="isUser" (click)="navigateToUser()" [ngClass]="{'active':currentComponent == 'user-profile'}">
    <div class="active-icon">
      <i class="fas fa-user"></i>
    </div>
    <div class="active-title">
      <span class="text-capitalize">{{ 'Menu.PersonalInfo' | translate}}</span>
    </div>
  </div>
</div>
