.menu-wrapper {
  background-color: #fff;
}
button {
  background-color: unset !important;
  border: 0 !important;
  box-shadow: unset !important;
  font-family: 'Roboto', sans-serif 
}
.active-title{
    color: #5058a6;
    font-size: 9px;
    font-family: 'Roboto', sans-serif 
}
.active-icon{
    background-color: #5058a6;
    border-radius: 20px;
    padding: 2px 8px;
}
.active-btn{
  background-color: white !important;
  width: 59px;
  border-radius: 57px !important;
  position: relative;
  top: -20px;
  padding-top: 8px;
}
button{
  position: relative;
  top: 4px;
}