// =====> main sass key
// $mainSiteLang : en;
// active the next variable if you want arabic direction
$mainSiteLang : ar;

//-----------------------------------------------
// =====> main sass partial style
.rtl {
    direction: rtl;
    @import "../../scss/main";
}

body{
    overflow: hidden;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before{
  color: #fff !important;
}

.slick-dots{
    margin-bottom: 0 !important;
    bottom: 0 !important;
}

.slick-dots li{
    margin: 0 !important;
}

.slick-dotted.slick-slider{
    margin-bottom: 0 !important;
}

.slick-list {
    direction: ltr !important
}
